@import "bootstrap/dist/css/bootstrap.min.css";
label {
  display: block;
  margin-top: 10px;
}

.card-container.card {
  max-width: 350px !important;
  padding: 40px 40px;
}

.card {
  background-color: #f7f7f7;
  padding: 20px 25px 30px;
  margin: 0 auto 25px;
  margin-top: 50px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.profile-img-card {
  width: 96px;
  height: 96px;
  margin: 0 auto 10px;
  display: block;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

/* Home style */
body{
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 10px;

}
::-webkit-scrollbar-thumb {
  background: #888; 
}
.navbar{
  padding-top: 25px;
  padding-bottom: 25px;
}
.jumbotron{
  padding: 1rem 7rem 0;
  margin: 0;
}
.intro{
  font-weight: 700;
  font-size: 36px;
  width: 568px;
}
.cus-btn{
  background-color: #5CB85F;
  border: none;
  width: 155px;
  height: 36px;
  padding: 0.5rem 1rem;
  font-size: 0.8rem;
}
.service{
  width: 1027px;
  height: 428px;
  margin-left: 206px;
  margin-top: 100px;
  /* background-color: aqua; */
}
.face{
  position: absolute;
  width: 459px;
  height: 428px;
  /* background-color: red; */
}
.circle{
  border-radius: 50%;
  position: absolute;
}

#c1{
  width: 133px;
  height: 133px;
  margin: 0;
  position: absolute;
  background-color: #92D094;
}

#c2{
  width: 360px;
  height: 360px;
  left: 99px;
  top: 68px;
  position: absolute;
  background-color: #0D28A6;
}

#c3{
  width: 48px;
  height: 48px;
  left: 60px;
  top: 336px;
  background-color: #F9CC00;
}

#c4{
  width: 25px;
  height: 25px;
  right: 51px;
  top: 43px;
  background-color: #FA2C5A;
}

.hap{
  position: absolute;
  border-radius: 48%;
  left: 93px;
}

.desc{
  position: absolute;
  margin-left: 560px;
  margin-top: 36px;
}
.chek{
  position: absolute;
  color: #CFD4ED;
}

.cont { 
  display: grid;
  grid-template-columns: 24px 280px;
  grid-template-rows: 24px 24px 24px 24px 24px;
  gap: 16px 16px;
  grid-auto-flow: row dense;
  grid-template-areas:
    ". ."
    ". ."
    ". ."
    ". ."
    ". .";
  justify-content: start;
  width: 350px;
  height: 184px;
  margin-top: 16px;
  padding-left: 0;
}

.det{
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  padding-top: 4px;
}
.banner{
  width: 1168px;
  height: 326px;
  margin-top: 100px;
  background-color: #0D28A6;
  border-radius: 13px;
  margin-left: auto;
  margin-right: auto;
}

.banner h1{
  position: absolute;
  font-size: 36px;
  font-weight: 700;
  height: 54px;
  margin-top: 64px;
  margin-left: 270px;
  color: white;
}

.banner h2{
  position: absolute;
  width: 468px;
  height: 40px;
  font-size: 14px;
  font-weight: 300;
  text-align: center;
  color: white;
  margin-top: 134px;
  margin-left: 342px;
}

.banner button{
  position: absolute;
  width: 142px;
  height: 36px;
  padding: 8px 12px;
  color: white;
  background-color: #5CB85F;
  border: none;
  border-radius: 2px;
  margin-top: 226px;
  margin-left: 514px;
}
.faq{
  margin-top: 100px;
  width: 1168px;
  height: 334px;
  display: flex;
}

.faqtext{
  width: 500px;
}
.foot{
  margin-top: 150px;
  margin-bottom: 100px;
  display: flex;
}
.alamat{
  width: 268px;
}
.alamat p{
  font-weight: 300;
}
.navfoot{
  margin-left: 86px;
}
.navfoot a p{
  font-weight: 400;
}
.icon-padding{
  margin-left: 1rem;
}
.sosmed{
  margin-left: 86px;
}
.copyright{
  margin-left: 86px;
}
